
<div id="navbar">
    <div class="container d-flex align-center justify-content">
        <a href="#default" id="logo">
            <img src="assets/img/logo.png" height="50px" alt="">
        </a>
        <div id="navbar-right">
            <a href="#">Product</a>
            <a href="#">Solutions</a>
            <a href="#">Pricing</a>
            <a href="#" class="btn btn-primary">Login</a>
            <a href="#" class="btn btn-secondary">Get Started</a>
    
        </div> <!-- navbar right close -->
    </div>

</div> <!-- navbar close -->
