.home {
    padding: 50px 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    .home-bg-one {
        position: absolute;
        left: -7%;
        top: 13%;
        width: 29%;
        z-index: -1;
    }

    .home-bg-two {
        position: absolute;
        right: -7%;
        top: -50%;
        z-index: -1;
        width: 75%;
    }

    .home-bg-three {
        position: absolute;
        right: 0;
        bottom: 0;
        // width: 11%;
        z-index: -1;
    }

    .home-bg-four {
        position: absolute;
        left: 30%;
        bottom: 30%;
        // width: 11%;
        z-index: -1;
    }


    .wrapper {
        .title-holder {
            margin-left: 30px;

            h3 {
                margin-top: 0;
                font-size: 32px;
                font-weight: 400;

            }

            .border-bar {

                width: 236px;
                height: 8px;
                background: #000000 0% 0% no-repeat padding-box;
                border-radius: 13px;
                opacity: 0.7;
            }
        }

        .home-img {
            margin-top: 70px;
        }

    }
}

.about {
    margin-top: 100px;
    padding: 100px 0 0;
    background-image: url('../../assets/img/about/sol_wave_bg.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .wrapper {
        p {
            color: #777777;
            margin-bottom: 80px;
        }

        h3 {
            font-size: 32px;
            font-weight: 400;
        }

        h4 {
            color: #222222;

        }

        .border-bar {
            width: 120px;
            height: 8px;
            background: #000000 0% 0% no-repeat padding-box;
            border-radius: 13px;
            opacity: 0.7;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }

    .card {
        box-shadow: 0px 0px 30px #2321321F;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 30px 35px;
        margin-bottom: 60px;
        margin-right: 45px;
        background-position: 1000px 1000px;
        background-image: url('../../assets/img/about/1.png');
        background-repeat: no-repeat;
        background-size: 150%;

        &:hover {
            color: #fff;
            cursor: pointer;
            background-position: center center !important;

            h4 {
                color: #fff;
            }

            p {
                color: #fff;
            }
        }

        img {
            width: 90px;
            height: 90px;
        }

        h4 {
            margin-bottom: 10px;
            font-size: 15px;
            color: #333333;
        }

        p {
            margin: 0;
            color: #999999;
            font-weight: 300;
        }

    }
}