<section class="home">
    <img src="assets/img/home/blob-small.svg" alt="" class="home-bg-one">
    <img src="assets/img/home/circle.svg" alt="" class="home-bg-two">
    <img src="assets/img/home/accounting_dots.svg" alt="" class="home-bg-three">
    <img src="assets/img/home/accounting_dots.svg" alt="" class="home-bg-four">

    <app-navbar></app-navbar>
    <div class="container">
        <div class="mt-100">
            <div class="row">
                <div class="half-35 column">
                    <div class="wrapper">
                        <div class="title-holder">
                            <h3>We make it Super <br> Simple</h3>
                            <div class="border-bar"></div>
                        </div>

                        <img src="assets/img/home/collect_img-video.png" class="img-responsive home-img" alt="openFT">
                    </div>
                </div>
                <div class="half-65 column">
                    <app-emicalculator></app-emicalculator>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="about">
    <div class="container">
        <div class="row d-flex align-center">
            <div class="w-70 column">
                <div class="row d-flex align-center">
                    <div class="half column">
                        <div class="card">
                            <img src="assets/img/about/get-paid.png" class="img-responsive" alt="">
                            <h4>Quick cash disbursement</h4>
                            <p>Get terms loans that your business needs within 72 hrs</p>
                        </div>
                        <div class="card">
                            <img src="assets/img/about/low-interest.png" class="img-responsive" alt="">
                            <h4>Low-interest rate</h4>
                            <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
                        </div>
                        <div class="card">
                            <img src="assets/img/about/secure.png" class="img-responsive" alt="">
                            <h4>Quick cash disbursement</h4>
                            <p>Get terms loans that your business needs within 72 hrs</p>
                        </div>
                    </div>
                    <div class="half column">
                        <div class="card">
                            <img src="assets/img/about/freelancer.png" class="img-responsive" alt="">
                            <h4>Quick cash disbursement</h4>
                            <p>Get terms loans that your business needs within 72 hrs</p>
                        </div>
                        <div class="card">
                            <img src="assets/img/about/covid.png" class="img-responsive" alt="">
                            <h4>Low-interest rate</h4>
                            <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="w-30 column">
                <div class="wrapper">
                    <h3>Boost your business with Open</h3>
                    <div class="border-bar"></div>
                    <p>Get your hands on a term loan that’s crafted for your business</p>
                    <a href="#" class="btn btn-primary">
                        Get an Open Account
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>